.form {
  display: flex;
}

.form-field {
  flex-basis: 33.33%;
  margin-top: 90px;
  margin-right: 30px;
  margin-bottom: 130px;

}

.form-label {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

}

.form-input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  padding: 35px 30px;
  border: none;
}

.btn-form {
  flex-basis: 33.33%;
  margin-top: 125px;
  border-radius: 6px;
  background-color: $color-red;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  border: none;
  margin-bottom: 130px;
  &:active {
    background-color:$color-red-active;
  }

}
