.form {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.form-field {
  flex-basis: 100%;
  margin-bottom: 30px;
  padding: 0 20px;

  @media (min-width: $desktop) {
    flex-basis: 33.3%;
  }
}

.form-half {
  @media (min-width: $tablet) {
    flex-basis: 50%;
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    flex-basis: 33.3%;
  }

}

.form-input {
  width: 100%;
  padding: 35px 30px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
