.promo {
  font-family: $font;
  background: url("../img/promo-pic.jpg") no-repeat;
  background-size: 100%;
}

.promo-inner {
  @include inner();
}

.promo-title {
  padding: 200px 0 100px;
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
}

.promo-fade {
  background-color: rgba(51, 51, 51, .4);
}

.btn-promo-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 214px;
}

.btn-promo {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  background-color: $color-red;
  border-radius: 6px;
  border: none;
  color:#fff;
  padding: 30px 48px;
  &:active {
    background-color: $color-red-active;
  }
}
