.promo {
  font-family: $font;
  background-image: url('../img/promo-pic.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.promo-inner {
  @include inner();
}

.promo-fade {
  background-color: rgba(51, 51, 51, 0.4);
}

.promo-title {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 110px;
  margin-bottom: 80px;
  text-align: center;

  @media (min-width:$tablet) {
    margin-top: 180px;
    margin-bottom: 100px;
    font-size: 54px;
    line-height: 74px;
  }

  @media (min-width:$desktop) {
    margin-top: 200px;
    font-size: 72px;
    line-height: 98px;
  }
}

.btn-promo-wrap {
  display: flex;
  justify-content: center;
}

